@model ThirdWeb.Models.ModelData
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2>Name:</h2><h3>Natyazhenko Vladimir</h3>
    <h2>Date:</h2><h3>@Model._dT</h3>
    <h2>Enviroment:</h2><h3>@Model._appEnv</h3>
    <h2>ApplicationName:</h2><h3>@Model._appName</h3>
    <h2>Host:</h2><h3>@Model._appHost</h3>
    <h2>Protocol:</h2><h3>@Model._appProtocol</h3>
</div>
